.navigation-color {
    background-color: #fafafa;
    /* margin-top: 72px; */
    width: 100%;
    position: fixed;
}
.villager-logo {
    height: 66px;
    padding: 8px;
    margin-right: 16px;
}
.navbarbg {
    background-image: url('../../../assets/navigaition-bg.png');
    height: 200px;
    background-repeat: no-repeat;
    position: relative;
}
.navlink-color {
    color: black;
    margin-right: 50px;
    
}
.navlink-color:hover {
    color:white;
    background-color: black;
}
#custom-nav {
    /* margin-top: 73px; */
}
.nav-link1:hover {
    color: red;
    background-color: black;
    text-decoration: none;
}
.nav-link1 {
color:red;
padding: 23px;
}
.lock-icon {
margin-right: 4px;   
}
.searchbox {
    float:right;
    margin-top: 28px;
}
input.seachinputbox {
    background-color: transparent;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    height: 31px;
    width: 234px;
}
.navbar {
    padding: 0px;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding: 21px;
}
.submitbtn {
    background-color: transparent;
    margin-left: -33px;
    color: white;
}
.formbutton:hover {
    color: orange;
}


