.create-form {
    background-color: #eee;
    padding: 50px;
}

.create-profile-btn {
    background-color: #EF4B47;
    color: white;
    font-size: 20px;
}
.create-profile-heading {
    background-color: #4471b7;
color: white;
}